name: Main

on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'           # Ignore documentation changes
      - 'docker-compose.yml'
      - '.devcontainer/**'
      - '.claude/**'

permissions:
  security-events: write  
  actions: read          
  contents: read

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  sast:
    name: SAST
    uses: ./.github/workflows/sast.yaml

#   tag:
#     name: Tag
#     uses: ./.github/workflows/tag.yaml

#   docker:
#     name: Docker
#     uses: ./.github/workflows/docker.yaml
#     secrets: inherit
    