name: Release

on:
  push:
    branches: [ main ]

jobs:
  release-please:
    runs-on: gha-runner-scale-set-ryanair
    steps:
      - name: Release Please
        id: release
        uses: google-github-actions/release-please-action@v4
        with:
          release-type: node
          package-name: ${{ github.event.repository.name }}
          token: ${{ secrets.RELEASE_TOKEN }}
