name: "CodeQL"

on:
  workflow_call:

jobs:
  analyze:
    name: Analyze (${{ matrix.language }})
    runs-on: 'gha-runner-scale-set-ryanair' 
    strategy:
      fail-fast: false
      matrix:
        include:
        - language: actions
          build-mode: none
        - language: javascript-typescript
          build-mode: none

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node JS
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: ${{ matrix.language }}
        build-mode: ${{ matrix.build-mode }}
        queries: security-extended,security-and-quality

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
      with:
        category: "/language:${{matrix.language}}"